body {
    font-family: monospace;
    font-size: 15px;
}

h2 {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.fish *:hover
{
    stroke: red;
}

.detail-text {
    font: bold italic 15px sans-serif;
    fill: red;
}
